/* GLOBAL */
body{
    font-family: 'Gowun Dodum', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}
.container{
    width: 75%;
    margin: auto;
    margin-top: 5px;
    background: linear-gradient(to right bottom,rgba(61, 98, 133, 0.63),rgba(255, 255, 255, 0.829));
    height: 620px;   
}
/* HEADER */
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-bottom: 3px solid rgba(255, 0, 0, 0.877);
    margin-top: -20px;
    border-right: 2px solid rgba(255, 0, 0, 0.877);
    border-left: 2px solid rgba(255, 0, 0, 0.877);
} 
.logo{
    margin-left: 60px;
    flex: 1;
    color: #165bfb;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: -15px;
}
.logo h1::first-letter{
    color: #F3B079;
    font-size: 3rem;
}
.links{
    flex: 2;
    margin: 25px 200px 0px -25px;
}
.download{
    flex: 1;
    margin-top: 25px;
}
.download button{
    width: 115px;
    height: 29px;
    color: black;
    border: none;
    background: linear-gradient(rgba(33, 146, 18, 0.795),rgba(17, 165, 79, 0.596));
    border-radius: 7px;
}
.links li{
    display: inline;
    margin-right: 18px;
}
.links a{
    text-decoration: none;
    color: #165bfb;
}
/* FORM */
/* LOG IN */
.form{
    background: url(../annie-spratt-jB5mRxjYe-4-unsplash.jpg);
    background-color: #165bfb50;
    background-blend-mode: screen ;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 43%, 40% 66%, 0% 50%);
    clip-path: polygon(0 0, 100% 0, 100% 43%, 40% 66%, 0% 50%);
    height: 810px;
    display: relative;
}
.log{
    width: 30%;
    border: none;
    position: absolute;
    float: left;
    text-align: center;
    color: white;
    margin-top: 60px;
}
.log input{
    display: block;
    width: 65%;
    margin: auto;
    margin-top: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #16fbd5c4, #165bfb18 , #16fbd5c4);
    border: 1px solid #165bfbd5;
}
.log button{

    margin-top: 40px;
    width: 30%;
    height: 32px;
    background: rgba(0, 0, 0, 0.466);
    border-radius: 7px;
    color: white;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}
.log p{
    color: #1be8cb;
    margin: 25px;
}
/* Sign Up */
.sign{
    width: 55%;
    float: right;
    text-align: center;
    color: white;
    margin-right: 25px;
    margin-top: 40px;
    position: relative;
}
.sign::before{
    content: "";
    display: inline-block;
    width: 2px;
    background-color: red;
    position: absolute;
    height: 144%;
    left: -5%;
    top: -40px;
}
.sign input{
    display: block;
    width: 65%;
    margin: auto;
    margin-top: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #16fbd5c4, #165bfb18 , #16fbd5c4);
    border: 1px solid #165bfbd5;
    text-align: center;
}
.sign .name{
    display: inline;
    width: 32%;
    margin-top: 5px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #16fbd5c4, #165bfb18 , #16fbd5c4);
    border: 1px solid #165bfbd5;
}
.sign button{

    margin-top: 27px;
    width: 32%;
    height: 32px;
    background: rgba(0, 0, 0, 0.466);
    border-radius: 7px;
    color: white;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}
